body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(150, 1, 131, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(80, 28, 115, 1) 7%,
    rgba(34, 216, 231, 1) 36%,
    rgba(202, 29, 253, 1) 58%,
    rgba(172, 104, 9, 1) 100%
  );
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 1);
}

form {
  margin-bottom: 20px;
}

.oculto {
  display: none;
}
